<app-nav></app-nav>
<div class="container mt-4">
  <h3 class="mb-3">Commands:</h3>

  <div class="row mb-4">
    <button class="col btn btn-outline-success ml-3" (click)="scaleUp()">Scale Up</button>
      <button class="col btn btn-outline-secondary ml-3" (click)="status()">Status</button>
      <button class="col btn btn-outline-danger ml-3 mr-3" (click)="scaleDown()">
        Scale Down
      </button>

  </div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>

  <app-console></app-console>
</div>
