<app-nav></app-nav>
<div class="container mt-4">
  <div class="jumbotron">
    <h4 class="display-4">Gcloudrig Commands</h4>
    <p class="lead">Select buttons below to control your gcloudrig. Output from the scripts will show up in the console below.</p>

    <button class="btn btn-primary" (click)="status()">Status</button>
    <button class="btn btn-primary ml-2" (click)="scaleUp()">Scale Up</button>
    <button class="btn btn-primary ml-2" (click)="scaleDown()">Scale Down</button>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>

  <app-console></app-console>
</div>